Analyses were performed using Python 3.11.9 in Visual Studio Code (v1.107.1) with a Jupyter Notebook kernel.

ipykernel==6.30.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
keras==3.12.0
matplotlib==3.10.6
matplotlib-inline==0.1.7
numpy==2.2.1
pandas==2.2.3
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
stack-data==0.6.3
statsmodels==0.14.5
tabula-py==2.10.0
tensorflow==2.20.0
xgboost==3.1.1

